<div class="focus-within:ring-2 rounded-full p-2 flex justify-center items-center bg-slate-100">
    <fa-icon [icon]="faSearch" size="lg" class="mr-2"></fa-icon>
    <input type="text" (input)="onChange($event)" placeholder="filter ..."
    class="border-none outline-none bg-transparent">
    <div class="group" (click)="clearFilter($event)">
        <fa-icon [icon]="faClose" size="lg" class="ml-2 text-slate-200 transition-all group-hover:text-slate-400"></fa-icon>
    </div>
</div>
<div hidden class="ml-auto mr-5 hover:text-lg transition-all hover:cursor-pointer">
    <fa-icon [icon]="faSort" size="lg" class="text-slate-200"></fa-icon>
</div>
