<div class="w-screen h-screen grid grid-cols-1 grid-rows-[1fr_1fr_9fr_1fr] font-mono sm:w-[500px] sm:m-auto ring-slate-100">
    <div class="flex justify-end items-center">
        <div class="mx-5 bg-white px-4 py-1 rounded-md text-right font-bold text-2xl transition-all hover:rotate-3 hover:text-3xl"> _TASK LIST </div>
    </div>
    <app-filter class="flex m-2 rounded justify-start items-center px-2 gap-2"></app-filter>
    <app-task class="flex flex-col items-start gap-2 px-4 py-4 overflow-y-auto ring-2 ml-2 mr-2 rounded ring-inherit"></app-task>
    <app-buttombar class="flex items-center justify-center sm:justify-end sm:pr-4"></app-buttombar>
</div>
